div.brand-logo-component{
    display: inline-block;
    text-align: center;

    img{
        vertical-align: middle;
    }

    h1{
        display: block;
        font-family: $brand-font;
        color: #6E647C;
        text-transform: uppercase;
        
        &.horizontal{
            display: inline;
            vertical-align: middle;
            margin: 0 20px;
        }
    }

    &.small img{
        width: 64px;
        height: 64px;
    }

    &.small h1{
        margin: 20px auto 0 auto;
        font-size: 20px;
        letter-spacing: 4.4px;

    }

    &.big img{
        width: 200px;
        height: 200px;
    }

    &.big h1{
        font-size: $h1-size;
        margin: 32px auto 0 auto;
        letter-spacing: 8px;
    }
}