.text-input-component{

    margin-bottom: 32px;

    :last-child{
        margin-bottom: 0;
    }

    label{
        display: block;
        text-align: start;
        font-family: $body-font;
        font-size: $body-size;
        font-weight: 400;
        color: $secondary-color;
        margin-bottom: 8px;
    }


    input{
        height: 52px;
        width: 100%;
        padding-left: 24px;
        padding-right: 16px;

        font-family: $body-font;
        font-size: $body-size;
        color: $secondary-color;
        border-radius: 12px;
        box-shadow: 0px 3px 15px #0000001F;
    }
}