/**
    'react-autosuggest__*' classes were extracted from the Autosuggest github repo, and are used to make this component
    compatible with that library
    See: https://github.com/moroshko/react-autosuggest
*/

$input-height: 48px;
$input-border-width: 2px;
$icon-width: 16px;

div.icon-text-input-component{
    position: relative;
    display: inline-block;
    
    label{
        font-family: $body-font;
        font-size: $body-size;
        font-weight: 400;
        color: $secondary-color;
    }

    input{
        display: block;
        height: $input-height;
        margin-top: 8px;
        padding-left: 14px + $icon-width + 16px;
        padding-right: 8px;

        border: $input-border-width solid $input-border-color;
        border-radius: 12px;

        font-family: $body-font;
        font-size: $body-size;
        font-weight: 500;
        color: $secondary-color;

        transition: all 0.2s ease-in-out;

        &:focus{
            border: $input-border-width solid $primary-color;
        }

        &:focus + .icon-container{
            fill: $primary-color;
            color: $primary-color;
        }
    }

    .icon-container{
        width: $icon-width;
        fill: $input-border-color;
        color: $input-border-color;
        position: absolute;

        bottom: ($input-height/2 - $icon-width/2 - $input-border-width);
        left: 14px;
    }


    // Autosuggest cases
    &.react-autosuggest__input input{
        transition: border-color 0.2s ease-in-out;
    }

    &.react-autosuggest__input--open input{
        border-bottom-width: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

}