div.dates-fieldset-component{
    border: none;
    display: inline-block;
    position: relative;
    padding: 0;

    .date-text-input{
        max-width: 160px;
        min-width: 144px;
        
        &:first-child{
            margin-right: 32px;
        }

        &:focus-within ~ .DayPicker{
            visibility: visible;
        }
    }



    // ReactDayPicker
    .DayPicker{
        position: absolute;
        visibility: hidden;
        background-color: white;
        border-radius: 12px;
        border: 2px solid $input-border-color;
        z-index: 1;
        
        top: calc(100% + 18px);
        left: 0px;

        &:hover{
            visibility: visible;

        }

        &::before{
            content: '';
            position: absolute;
            width: 0; 
            height: 0; 
            top: -18px;
            left: 24px;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-bottom: 16px solid $input-border-color;
        }

        &::after{
            content: '';
            position: absolute;
            width: 0; 
            height: 0; 
            top: -16px;
            left: 24px;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-bottom: 17px solid white;
        }

        .DayPicker-Caption{
            font-family: $body-font;
            font-size: $body-size;
            color: $dark-details-color;
        }

        .DayPicker-Weekday{
            font-family: $body-font;
            font-size: $body-size;
            color: $input-border-color;
        }

        .DayPicker-Day{
            font-family: $body-font;
            font-size: $caption-size;
            color: $secondary-color;

            &.DayPicker-Day--disabled{
                pointer-events: none;
                color: $input-border-color;
            }
                
            &.DayPicker-Day--highlighted{
                color: white;
                background-color: inherit;
                background-color: lighten($primary-color, 15%);
                border-radius: 0;
            }
                
            &.DayPicker-Day--selected{
                color: white;
                background-color: inherit;
                background-color: $primary-color;
                border-radius: 8px;
            }

            &.DayPicker-Day--selected.DayPicker-Day--highlighted{
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            &.DayPicker-Day--selected.DayPicker-Day--returnDate{
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }                  
        }

    }

}