div#queries-page{

    padding-bottom: 48px;

    h2{
        @include dashboard-title;

        &:not(:first-child){
            margin-top: 48px;
        }
    }

    div.queries-container{
        display: block;
        padding: 48px;
        background-color: $light-background;
        box-shadow: $dashboard-components-shadow;
        border-radius: $dashboard-components-border-radius;


        textarea.queries-textarea{
            display: block;
            resize: none;
            width: 100%;
            min-height: 160px;
            height: 20vh;
            padding: 24px;
            border: 1px solid $input-border-color;
            border-radius: $dashboard-components-border-radius;
    
            font-family: $body-font;
            font-size: $body-size;
            font-weight: 500;
            color: $secondary-color;
    
            transition: all 0.2s ease-in-out;
    
            &:focus{
                border: 2px solid $primary-color;
            }
    
            &.icon-text-input-error{
                border: 2px solid $error-color;
            }
        }

        .queries-result-box{
            display: inline-block;
            height: 52px;
            width: 80%;
            margin: 24px 0 0 0;
            padding: 0 24px;
            border-radius: $dashboard-components-border-radius;
            border: 1px solid $input-border-color;
            line-height: 48px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            font-family: $body-font;
            font-size: $body-size;
            color: $dark-details-color;
        }

        .queries-submit-button{
            float: right;
            margin-top: 24px;
            margin-left: auto;
        }
    }
}

@media (max-width: 1300px) {
    div#queries-page{
        div.queries-container{
            position: relative;

            .queries-result-box{
                height: inherit;
                max-height: 52px*2;
                width: 60%;
                line-height: 48px;
                overflow: hidden;
                white-space: normal;
            }

            .queries-submit-button{
                position: absolute;
                margin: 48px;
                right: 0;
                bottom: 0;
            }
        }
    }
}