/** Color */
$primary-color: #665EFF;
$secondary-color: #454F63;
$background-color: #F0F2F4;
$dark-details-color: #78849E;

/** Fonts */
$title-font: 'Work Sans';
$body-font: 'Roboto';
$brand-font: 'Nanum Gothic';

/** Font sizes */
$h1-size:       36px;
$h2-size:       33px;
$h3-size:       26px;
$subtitle-size: 18px;
$body-size:     16px;
$caption-size:  14px;