/** Color */
$primary-color: #665EFF;
$secondary-color: #454f63;
$light-background: #FAFAFA;
$background-color: #F0F2F4;
$dark-details-color: #78849E;
$error-color: #ed462f;

$input-border-color: #C8CCD4;

/** Fonts */
$title-font: 'Work Sans';
$body-font: 'Roboto';
$brand-font: 'Nanum Gothic';

/** Font sizes */
$h1-size:       36px;
$h2-size:       33px;
$h3-size:       26px;
$subtitle-size: 18px;
$body-size:     16px;
$caption-size:  14px;

/** Margins and paddings */
$app-padding-top: 48px;
$dashboard-sidebar-min-width: 240px;
$dashboard-sidebar-width: 15%;

/** Border radius */
$dashboard-components-border-radius: 16px;

/** Shadows */
$dashboard-components-shadow: 0px 3px 6px #0000001A;

/** Mixins */
@mixin dashboard-title {
        display: inline-block;
        font-family: $title-font;
        font-size: $h2-size;
        font-weight: 800;
        color: $secondary-color;
        margin-top: 0;
        margin-bottom: 40px;
}

/** Exports to JS */
:export{
        primaryColor: $primary-color;
        secondaryColor: $secondary-color;
        backgroundColor: $background-color;
        lightBackgroundColor: $light-background;
}
