div#available-flights-page{


    h2.available-flights-main-title{
        font-family: $title-font;
        font-size: $h2-size;
        font-weight: 800;
        color: $secondary-color;
        margin: 48px 0 40px 0;

        &:first-child{
            margin-top: 0px; 
        }
    }
}