/**
    Classes were extracted from the Autosuggest github repo.
    See: https://github.com/moroshko/react-autosuggest#render-suggestions-container-prop
*/


div.suggestions-container-component{
    position: absolute;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 1;
    
    &.react-autosuggest__suggestions-container--open{
        border: 2px solid $input-border-color;
    }

    .react-autosuggest__suggestion{
        font-family: $body-font;
        font-size: $body-size;
        height: 40px;
        width: 100%;
        padding-left: 40px;
        line-height: 40px; // Centers content, should be equal to height
        
        color: $secondary-color;
        list-style: none;
        &:hover{
            background-color: #F7F7F7;
        }

        .location-suggestion{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            padding-right: 4px;
        }
    }
    
    .react-autosuggest__suggestion--highlighted{
        background-color: #F7F7F7;
    }
}